@import url(//db.onlinewebfonts.com/c/478ee5574b65325cfc7cf2f42be6aedb?family=Stem);
@import url(//db.onlinewebfonts.com/c/01f6b7bcb162c58067f1f968902c2f17?family=Stem+Light);
@import url(//db.onlinewebfonts.com/c/02a6d67c0a77ba76bed26e214fd02932?family=Stem+Bold);
@import url(//db.onlinewebfonts.com/c/234c7114c6c8ddd5bba3c39f31dcb01f?family=Stem+Extra+Light);
@import url(//db.onlinewebfonts.com/c/0f20fd4113ce338b809530736f97afc5?family=Stem+Medium);

@font-face {
  font-display: swap;
  font-family: Stem;
  src: local(Stem),
    url(//db.onlinewebfonts.com/c/234c7114c6c8ddd5bba3c39f31dcb01f?family=Stem+Extra+Light);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: Stem;
  src: local(Stem),
    url(//db.onlinewebfonts.com/c/478ee5574b65325cfc7cf2f42be6aedb?family=Stem);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: Stem;
  src: local(Stem),
    url(//db.onlinewebfonts.com/c/0f20fd4113ce338b809530736f97afc5?family=Stem+Medium);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: Stem;
  src: local(Stem),
    url(//db.onlinewebfonts.com/c/02a6d67c0a77ba76bed26e214fd02932?family=Stem+Bold);
  font-style: normal;
  font-weight: 700;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

html,
body {
  font-family: 'Stem', sans-serif;
}
